@import url(https://fonts.googleapis.com/css2?family=Quattrocento&display=swap);

body {
    padding: 20px;
    background-color: black;
    color: #FDFFFC;
    text-align: center;
    font-family: Quattrocento, serif;
}

h1 {
  font-size: large;
}
p {
  font-size: small;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
.profile-img {
  width: 50%;
  border-radius: 50%;
}

.btn {
  display: block;
  color: whitesmoke;
  padding: 20px;
  background: darkgreen;
  margin: 16px;
  box-shadow: 5px 5px limegreen;
}
